body{
    margin: 0;
    
}
.seccionVisible {
    background-color: black;
    width: 100vw;
    height: 100vh;

}

.general {
    width: 100vw;
    height: 100vh;
}

.general1 {
    background-color: blue;
    background-image: url(/img/fondointro.jpg);
}

.general2 {
    background-color: green;
    

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 97,3vw;
    height: 95vh;
    padding: 1em;
    background-image: url(/img/fondopantalla.jpg);
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24212177;
    width: 80vw;
    height: 40vh;
    border: 0.3em inset rgba(0, 0, 0, 0.178);
}







.selected{
    display: flex;
    flex-flow: row nowrap;
    background-color: #24212177;
    width: 80vw;
    height: 40vh;
    border: 0.3em inset rgba(0, 0, 0, 0.178);
    
}



.general3 {
    background-image: url(/img/bomb.png)
    
}

button {
	background: #eee;
	padding: 10px 25px;
	margin-bottom: 15px;
	display: block;
}
