*{
    margin: 0;
}
.seccionVisible {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.general {
    width: 100vw;
    height: 100vh;
}

.general1 {
    background-color: blue;
}

.general2 {
    width: 100vw;
    height: 100vh;
    background-color: white;

}

.container{
    width: 70%;
    border: 0.4em solid pink;
    margin-left: 10%;
    margin-top: 1%;
    object-fit: contain;
}

.f1{
    border: 0.5em inset rgba(12, 12, 12, 0.39);
    border-radius: 35%;
    
}

.f1:hover{
    border: 0.5em inset rgba(185, 10, 10, 0.603);
    border-radius: 35%;

}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    
}



.general3 {
    background-color: red;
}
